<article>
        <h3>Bem vindo a Admin <%= current_user.email.split('@').first %></h3>

    <div class="" style="width:50%;margin:6rem auto">
        <h3>Cursos disponíveis para o Admin</h3>
        <% @courses.each do |course| %>
            <div class="" style="color:black;" >
                <ul>
                    <li><h3><%= link_to course.name, course, style: "color:black;" %></h3></li>
                    <li><h4>Descrição</h4></li>
                    <li><p><%= course.description %></p></li>
                    <li><h4>Preço</h4></li>
                    <li><p><%= number_to_currency course.price %></p></li>
                </ul>
            </div>
        <% end %>
    </div>
</article>
  