<section>
    <header>
        <h1>Cadastrar uma aula</h1>
    </header>
    <article>
        <%= render 'form', course: @course, lesson: @lesson, button_text: 'Cadastrar' %>
    </article>
</section>

