<article>
    <h2>Boas vindas ao sistema de gestão de cursos e aulas</h2>
    <div class="App-flex-center">
        <%= link_to 'Ver Cursos', courses_path, method: :get, class: "App-navigation-button App-round-border" %>
    </div>
</article>
  