<!-- Header -->
<header>
    <h1 >Codeplay</h1>
    <h3 ><b>Boas vindas ao sistema de gestão de cursos e aulas</b></h3>
</header>
<div >
    <%= link_to 'Ver Cursos', courses_path, method: :get %>
</div>
  