<article>
    <h2>Boas vindas ao sistema de gestão de cursos e aulas</h2>
    <div class="App-flex-center">
        <%= link_to 'Ver Cursos', courses_path, method: :get, class: "App-navigation-button App-round-border" %>
    </div>
    <div class="App-flex-center App-flex-column">
        <h3>Cursos disponíveis</h3>
        <% @courses.each do |course| %>
            <table style="text-align:center;">
                <thead>
                    <tr>
                        <h3><%= link_to course.name, course %></h3>
                    </tr>
                </thead>
                <tr>
                    <th><h4>Descrição</h4></th>
                </tr>
                <tr>
                    <td><p><%= course.description %></p></td>
                </tr>
                <tr>
                    <th><h4>Preço</h4></th>
                </tr>
                <tr>
                    <td><p><%= number_to_currency course.price %></p></td>
                </tr>
            </table>
        <% end %>
    </div>
</article>
  