<section class="App-flex App-flex-column">
    <header class="App-flex-center">
        <h2>Cadastrar um curso</h2>
    </header>
    
    <article style="margin-top: 2rem;">
        <%= render 'form', course: @course, instructors: @instructors, button_text: 'Criar curso' %>
    </article>
</section>