/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
    --nubank:#81259D;
    --nubank-second:rgb(244, 231, 255);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --teal: #20c997;
    --td-green:#45db02;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --steel-pink: #DB2DEE;
    --pure-blue: #34ADEB;
    --sweet-blue: #93EBFE;
    --blue-france: #1F88E7;
    --true-blue: #0561CB;
    --oxford-blue: #011B55;
    --dark-blue: #282c34;
    --white-custom: #ffffff3a;
    --clean-custom: #4b48488c;
    --card-black-initial: rgba(0,0,0,0.2);
    --card-black-final: rgba(0,0,0,0.3);
    
    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

html,body {
    height: 100vh;
    width: 100vw;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(180deg, var(--nubank), var(--pure-blue));
}
  
@media (min-width: 700px){
    :root{
    font-size: 62.5%;
    }
}
