<section>
    <header>
        <h1>Editar um curso</h1>
        <%= link_to 'Voltar', admin_courses_path, style: "width:8%", class: 'App-navigation-button App-round-border' %>
    </header>

    <article>
        <%= render 'form', course: @course, instructors: @instructors, button_text: 'Salvar' %>
    </article>
</section>

